/* Editor */
#noteInput {
  width: 90%;
  max-width: 90%;
  height: 70vh;
  max-height: 70vh;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  margin: 10px;
}

.ql-container.ql-snow {
  border: 1px solid #ccc !important;
  font-family: "Leelawadee UI Web", sans-serif !important;
}

.ql-toolbar.ql-snow {
  text-align: center !important;
  width: 90%;
  max-width: 90%;
}

/* Saving notice */
#savingNotice {
  width: 90%;
  max-width: 90%;
  margin: 0 5px 0 0;
}

#savingNotice .spinner {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #222;
  border-right-color: #222;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

#savingNotice .tick {
  display: inline-block;
  width: 5px;
  height: 12px;
  border-style: solid;
  border-width: 0 2.5px 2.5px 0;
  border-color: #555;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 4px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Last edited notice */
#lastEditedNotice {
  width: 90%;
  max-width: 90%;
  margin: 0 5px 0 0;
  font-size: 14px;
}