html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Leelawadee UI Web", sans-serif;
}

header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  min-width: 300px;
}

p {
  margin: 15px 0 0 0;
}

/* Utilities */
.align-right {
  text-align: right;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #fff;
  z-index: 100;
}

.overlay.fade-out {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

/* Buttons */

/* The button container */
#contextButtons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 15px 0 0 0;
}

#contextButtons button {
  padding: 0;
  flex: 1;
  width: 33%;
  margin: 0 2px;
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 49, 48);
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(138, 136, 134);
}

/* Do not add margins to the sides of the container */
#contextButtons button:first-child {
  margin-left: 0px;
}

#contextButtons button:last-child {
  margin-right: 0px;
}

#contextButtons button:hover,
#contextButtons button:focus {
  background-color: rgb(243, 242, 241);
  color: rgb(32, 31, 30);
}

/* The active button */
#contextButtons button.active {
  cursor: default;
  background-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 120, 212);
}

#contextButtons button.active:hover,
#contextButtons button.active:focus {
  background-color: rgb(16, 110, 190);
  border: 1px solid rgb(16, 110, 190);
}

/* Buttons in general */
#noteInput button {
  color: rgb(0, 120, 212);
  background-color: transparent;
  text-align: center;
  font-size: 16px;
}

/* Text input */
#noteInput {
  width: 90%;
  max-width: 90%;
  height: 60vh;
  max-height: 60vh;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  margin: 10px;
}

.ql-container.ql-snow {
  border: 1px solid #ccc !important;
}

.ql-toolbar.ql-snow {
  text-align: center !important;
  width: 90%;
  max-width: 90%;
}

/* Saving notice */
#savingNotice {
  width: 90%;
  max-width: 90%;
  margin: 0 5px 0 0;
}

#savingNotice .spinner {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #222;
  border-right-color: #222;
  animation: spin 1s infinite linear;
}

#savingNotice .tick {
  display: inline-block;
  width: 5px;
  height: 12px;
  border-style: solid;
  border-width: 0 2.5px 2.5px 0;
  border-color: #555;
  transform: rotate(45deg);
  margin-right: 4px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
